<form method="post" action="/apps/proxy-user/user/delete">
  <button>退会する</button>
</form>


{% schema %}
  {
    "name": "User Delete Form",
    "target": "section",
    "settings": []
  }
{% endschema %}